@model IEnumerable<PTracking.Models.Tickets>

@{
	ViewData["Title"] = "Active Tickets";
}

<html>
<head>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
	
</head>
<body>



			<div class="row">
				<div class="col-sm-4 mb-3">
			<a href="@Url.Action("DisplayActiveTickets", "Tickets")" style="background-color:#25321c; text-decoration: none;">
						<div id="active-Projects" class="card rounded">
					<div class="card-header  text-white text-center" style="background-color: #25321c">
								Active Tickets
							</div>
							<div class="card-body text-center">
								<span style="font-size: 30px;">
									<i class="fas fa-diagram-project" style="font-size: 30px; margin-bottom: 10px;"></i><br>
								</span>
								<span style="font-size: 18px;">@ViewBag.ActiveTicketCount <br> Active Tickets </span>
							</div>
						</div>
					</a>
				</div>

				<div class="col-sm-4 mb-3">
					<a href="@Url.Action("DisplayPriority", "Tickets")" style="background-color: #c3d5ae; text-decoration: none;">
						<div id="allProjects" class="card rounded">
							<div class="card-header  text-white text-center" style="background-color:  #c3d5ae;">
						Total of High Priority Tickets
							</div>
							<div class="card-body text-center">
								<span style="font-size: 30px;">
									<i class="fa-solid fa-check" style="font-size: 30px;"></i><br>
								</span>
								<span style="font-size: 18px;">@ViewBag.PriorityTickets <br> Total of High Priority Tickets </span>
							</div>
						</div>
					</a>
				</div>

				<div class="col-sm-4 mb-3">
					<a href="@Url.Action("DisplayTicketsBySprint", "Tickets")" style="background-color:#ecd4d3; text-decoration: none;">
						<div id="priority-projects" class="card rounded">
							<div class="card-header  text-white text-center" style="background-color:#ecd4d3;">
						Tickets Per Sprint
							</div>
							<div class="card-body text-center">
								<span style="font-size: 30px;">
									<i class="fa-solid fa-list" style="font-size: 30px;"></i><br>
								</span>
								<span style="font-size: 18px;">@ViewBag.PerSprint <br> Tickets Per Sprint</span>
							</div>
						</div>
					</a>
				</div>
			</div>





			<div class="container">
				<div class="row">
				
					<div class="col-md-6">
						<div class="chart-container-tickets">
							<div class="chart">
								<canvas id="ticketComplete" class="chart-canvas-tickets"></canvas>
							</div>
							<div class="chart">
								<canvas id="pieChart" class="chart-canvas-tickets"></canvas>
							</div>
						</div>
					</div>

					
					<div class="col-md-6">
						<div class="data-container">
							<div class="employee-table">
								<table class="table table1">
									<thead>
										<tr>
											<th></th>
											<th>Name</th>
											<th>Email</th>
											<th>Status</th>
										</tr>
									</thead>
									<tbody>
										@if (ViewBag.Employees != null)
										{
											foreach (var employee in ViewBag.Employees)
											{
												<tr>
													<td><img src="@employee.icon" alt="User Image" /></td>
											<td>@employee.Name</td>
													<td>@employee.Email</td>
													<td>
														@if (employee.Availability == "Available")
														{
															<button type="button" class="btn btn-success custom-btn">Available</button>
														}
														else
														{
															<button type="button" class="btn btn-danger custom-btn">Unavailable</button>
														}
													</td>
												</tr>
											}
										}
										else
										{
											<tr>
												<td colspan="4">No employee data available</td>
											</tr>
										}
									</tbody>
								</table>
							</div>
							<div class="chart">
								<canvas id="userAssigned" class="chart-canvas-tickets"></canvas>
							</div>
							<div class="chart">
								<canvas id="ticketNamesChart" class="chart-canvas-tickets"></canvas>
							</div>
						</div>
					</div>
				</div>
			</div>


	@{

		var ticketList = ViewBag.Tickets as IEnumerable<Tickets>;
	}

	<p>
		<a href="@Url.Action("Create")" class="btn btn-primary">Create New</a>
	</p>


	<div class="table-responsive" style="overflow-x: auto;">
		<table id="ticketsTable" class="table table-responsive table-bordered">	
			<thead>

				<tr>
					<th>
						Name
					</th>
					<th>
						Description
					</th>
					<th>
						ProjectName
					</th>
					<th>
						Company
					</th>
					<th>
						User Assigned
					</th>
					<th>
						Assigned By
					</th>
					<th>
						Status
					</th>
					<th>
						Priority
					</th>
					<th>
						DueBy
					</th>
				
				</tr>
			</thead>
			<tbody>
				@if (ViewBag.Tickets != null)
				{
					@foreach (var item in ViewBag.Tickets)
					{

						<tr>
							<td><a href="/Tickets/Details/@item.ID">@item.Name</a></td>
							<td>@item.Description</td>
							<td>@item.ProjectName</td>
							<td>@item.Company</td>
							<td>@item.UserAssigned</td>
							<td>@item.AssignedBy</td>
							<td>@item.Status</td>
							<td>@item.Priority</td>
							<td>@item.DueBy</td>
							
									

						</tr>
					}
				}
				else
				{
					<tr>
						<td colspan="14">No tickets available</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>


@section Scripts {
	<script> 
		$(document).ready( function () {
				$.noConflict();
			$('#ticketsTable').DataTable();
		} );
		</script>
	

	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

	<script>
		var chartLabels = @Html.Raw(Json.Serialize(ViewBag.ChartLabels));
		var chartData = @Html.Raw(Json.Serialize(ViewBag.ChartData));

		var statusColors = [
				'#c3d5ae', // Color for completed
				'#ecd4d3', // Color for incomplete
			'rgba(255, 206, 86, 0.7)' // Color for in progress
			
		];

		var pieChart = new Chart(document.getElementById('pieChart'), {
			type: 'pie',
			data: {
				labels: chartLabels,
				datasets: [{
					data: chartData, 
					backgroundColor: statusColors,
					label: 'Ticket Status'
				}]
			},
			options: {
				
			}
		});
	</script>

	<script>
		
		var uniqueMembers = @Html.Raw(Json.Serialize(ViewBag.UniqueMembers));
		var memberOccurrences = @Html.Raw(Json.Serialize(ViewBag.MemberOccurrences));

		var memberColors = [
				'#c3d5ae',
				'#f9eb1c',
				'#21908d',
				'#25321c'
					
			
		];

		var ctxUserAssigned = document.getElementById('userAssigned').getContext('2d');
		var memberChart = new Chart(ctxUserAssigned, {
			type: 'bar',
			data: {
				labels: uniqueMembers,
				datasets: [{
					label: 'Number of Tickets Assigned',
					data: memberOccurrences,
					backgroundColor: memberColors.slice(0, uniqueMembers.length),
					borderColor: 'rgba(54, 162, 235, 1)',
					borderWidth: 1
				}]
			},
			options: {
				
			}
		});

	</script>

	<script>

		
		var _chartLabels = @Html.Raw(Json.Serialize(ViewBag.ChartLabels));
		var _chartData = @Html.Raw(Json.Serialize(ViewBag.ChartData));

		var ticketNames = _chartLabels.map(function (label) {
			return 'Ticket ' + label;
		});

			var barColor = ["#c3d5ae", "##120f0f", "#21908d", "#f9eb1c", "brown"];

		var ctxMyChart = document.getElementById('ticketComplete').getContext('2d');
		var myChart = new Chart(ctxMyChart, {
			type: "bar",
			data: {
				labels: ticketNames,
				datasets: [{
					backgroundColor: barColor.slice(0, _chartData.length), 
					data: _chartData,
					label: 'Ticket Status Overview'
				}]
			}
		});

	</script>


@*	<script>

		// This part is for the myChart based on ViewBag data
		var _chartLabels = @Html.Raw(Json.Serialize(ViewBag.ChartLabels));
		var _chartData = @Html.Raw(Json.Serialize(ViewBag.ChartData));

		var ticketNames = _chartLabels.map(function (label) {
			return 'Ticket ' + label;
		});

		var barColor = ["red", "green", "blue", "orange", "brown"]; // Define your colors as needed

		var ctxMyChart = document.getElementById('myChart').getContext('2d');
		var myChart = new Chart(ctxMyChart, {
			type: "bar",
			data: {
				labels: ticketNames,
				datasets: [{
					backgroundColor: barColor.slice(0, _chartData.length), // Use colors based on data length
					data: _chartData
				}]
			}
		});

	</script>*@

	<script>
    fetchDataAndRenderChart();function fetchDataAndRenderChart() {
        $.ajax({
            type: "POST",
            url: "/Tickets/GetUserAssigned",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {

                var _chartLabels = data.chartLabels;
                var _chartData = data.chartData;

						var barColor = ["#ecd4d3", "#f9eb1c", "#21908d", "#84cf87", "blue", "pink"];

                var ctxMyChart = document.getElementById('ticketNamesChart').getContext('2d');
                var myChart = new Chart(ctxMyChart, {
                    type: "bar",
                    data: {
                        labels: _chartLabels,
                        datasets: [{
                            backgroundColor: barColor.slice(0, _chartData.length),
                            data: _chartData,
                            label: 'Ticket/Task Point Allocation'
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    fontSize: 16, 
                                }
                            }],
                            xAxes: [{
                                ticks: {
                                    fontSize: 16,
                                   
                                }
                            }]
                        }
                    }
                });
            },

    
            error: function (err) {
                // Handle errors here
                console.error(err);
            }
        });
    }
</script>


		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script>
			$(document).ready(function () {
				$('.custom-btn').on('click', function () {
					var btn = $(this);
					btn.prop('disabled', true); 
					btn.text('Processing...'); 

					var employeeId = btn.data('employee-id'); 

					
					setTimeout(function () {
						var newStatus = 'Unavailable'; 

						
						$.ajax({
							url: "/Employees/ChangeUserStatus", 
							method: 'POST',
							data: { employeeId: employeeId, newStatus: newStatus }, 
							success: function (response) {

							},
							error: function (error) {

							},
							complete: function () {
								btn.text(newStatus);
								btn.prop('disabled', false);
								btn.css('background-color', 'red');
							}
						});

					}, 2000);
				});
			});
		</script>
	}
	</body>
	</html>